<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cinema</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'movies/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'movies/fontawesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'movies/styles.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark sticky-top">
      <div class="container">
        <a
          class="navbar-brand text-primary d-flex align-items-center py-0"
          href="{% url 'index' %}"
        >
          <i class="fa-solid fa-film me-2 brand"></i>
          <span class="f-24">Cinema</span>
        </a>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a
              href="https://github.com/TAKANOME-DEV/cinema-django-app"
              class="nav-link"
              target="_blank"
            >
              <i class="fa-brands fa-github brand"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="container">{% block content %}{% endblock %}</main>
  </body>
</html>
